
/* informações sobre a loja  */
.info_zoom{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1;
}

.info_zoom_out{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: .5em;
    width: 100%;
    z-index: 0;
}

.infos p{
    color: white;
    margin: 0;
    padding: .5em;
    text-align: center;
}

.footer{
    transition: all.5s;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    border-radius: 5px 5px 0 0;
}

.desktop_view_bar{
    display: none;
} 

.login_desktop{
    display: none;
} 

.logout_desktop{
    display: none
}

/* informações sobre a loja  */

.sobre{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.payment{
    width: 100%;
    border-radius: 5px 5px 0 0 ;
    user-select: none;
}

@media (min-width: 768px){
    .links{
        width: 50%;
    }
}

@media (min-width: 992px){
    .footer{
        flex-direction: row;
        border-radius: unset;
    }
    
    .payment{
        width: 100%;
        border-radius: unset;
        user-select: none;
    }

    .footer_logo{
        width: 90%;
    }

    .desktop_view_bar{
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        border: 1px solid black;
    }

    .desktop_view_bar{
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
    }

    .desktop_view_bar a{
        text-decoration: none;
        padding: 1em;
        color:white;
    }

    .desktop_view_bar a:hover{
        background-color: white;
        color: black;
    }

    .navbar-toggler{
        display: none;
    }

    .login_desktop{
        display: flex;
        background-color: black;
    }

    .side_menu{
        display: none;
    }

}