.whats-ico{
    animation: beating .5s infinite;
}

.beating{
    animation: beating .5s infinite;
}
@keyframes beating{
    to{
        scale: 1.1;
    }
}

.usuarioCriado{
    display: none;
}

.text-decoration{
    text-decoration: none;
}

.dp-none{
    display: none;
}

.valor-total{
    display:flex;
    align-items: center;
}

.cardMaxValues{
    max-width: 320px;
    max-height: 426px;
    margin: auto;
}

.cardOcultoMaxValues{
    max-width: 320px;
    max-height: fit-content;
    margin: auto;
}

.cardSacolaMaxValues{
    max-width: 320px;
    max-height: fit-content;
    margin: auto;
}

.imgCardMaxValues{
    width: 318px;
    height: 318px;
    object-fit: cover;
}

.vazio{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

.areaValor{
    visibility: hidden;
}

.card-oculto{
    display: flex;
}

.inputs{
    padding: 10px;
}

.t-oast{
    visibility: hidden;
    transition: all 1s;
}

