.whats-ico{
    animation: beating .5s infinite;
}

.beating{
    animation: beating .5s infinite;
}
@keyframes beating{
    to{
        scale: 1.1;
    }
}

.usuarioCriado{
    display: none;
}

.text-decoration{
    text-decoration: none;
}